@font-face {
    font-family: 'Rubik One', sans-serif;
    src: url("fonts/Rubik/RubikOne.ttf") format("woff");
    src: url("fonts/Rubik/RubikOne.ttf") format("woff2");
    src: url("fonts/Rubik/RubikOne.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat', sans-serif;
    src: url("fonts/Montserrat/Montserrat.ttf") format("woff");
    src: url("fonts/Montserrat/Montserrat.ttf") format("woff2");
    src: url("fonts/Montserrat/Montserrat.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}